<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="#" th:action="@{/members/login}" method="post">
    <input type="text" th:name="email" placeholder="email">
    <input type="password" th:name="password" placeholder="Password">
    <button type="submit">Login</button>
</form>

<!-- Adding a button for navigation to Sign Up page -->
<button onclick="location.href='/members/signup'" type="button">Sign Up</button>

<!-- If there's an error during login, it will be displayed here -->
<p th:if="${param.error}" th:text="#{invalid.login}" style="color: red;">Invalid username or password.</p>
</body>
</html>
